:root {
    --light: #fafbfc;
    --dark: #1c1f23;
    --space: 16px;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

section {
    margin: var(--space) 0;
    border-top: 1px solid var(--dark);
}

section > * {
    padding: var(--space);
    margin: 0;
}
